<app-main-menu></app-main-menu>
<label>Request Line List</label> | 
<div class="component">
    <table  *ngIf="request">
        <tr>
            <td>{{request.description}}</td>
        </tr>
    </table>
    <table class="table" *ngIf="request">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Product Price</th>
            <th>Total</th>
        </tr>
        <tr *ngFor="let l of request.requestlines; indexed as i;">
            <td>{{i}}-{{request.description}}</td>
            <td>{{l.product.name}}</td>
            <td>{{l.quantity}}</td>
            <td>{{l.product.price}}</td>
            <td>{{l.product.price * l.quantity | currency}}</td>
            <td>
                <a routerLink="/requestlines/edit/{{l.request.id}}">Edit</a>
            </td>
        </tr>
    </table>
</div>
